/*
  The file provides the background colour and image sizes for the webpage
  
  Author: Basel Allam
*/

/* HTML tag based styles ***********************************/
body {
  background-color: #f0e68c;
}

img {
  width: 100%;
  height: 100%;
}

/* id based styles *****************************************/

/* class based styles **************************************/
